<!-- <ion-list>
  <ion-label>Filtro por marca</ion-label>
  <ion-item>
    <ion-select interface="action-sheet"  placeholder="Seleccione modelo" (ionChange)="filter($event)">
      <ion-select-option *ngFor="let marca of marcas" value="{{marca.nombre}}">{{marca.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->

<ion-grid >
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
            *ngFor="let car of cars" >
      <app-car [car]="car"></app-car>
    </ion-col>    
  </ion-row>
</ion-grid>
